@import "tailwindcss";


.section-title {
  @apply text-lg font-semibold text-slate-800 border-b pb-2;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(20px) }
  to { opacity: 1; transform: translateY(0) }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

.animate-slideUp {
  animation: slideUp 0.4s ease-in-out;
}

.section-title {
  @apply text-xl font-semibold text-slate-800 border-b pb-2;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.shake {
  border-color: #dc2626 !important; /* red border */
  animation: shake 0.5s;
}

